* {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

article {
  background-color: #333;
  width: 100px;
  height: 200px;
  margin: 10px;
}
